<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">

</head>
<body>
    <h2>FCC API Project: File Metadata Microservice</h2>
    <form action="/api/fileupload" enctype="multipart/form-data" method="POST">
      <label for="upfile">File:</label><input type="file" id="upfile" name="upfile" multiple="multiple" required/>
      <input id ="submit" type="submit" value="Upload File" />
    </form>
</body>
</html>