* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-family: 'Passion One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(185, 138, 214);
    background: linear-gradient(90deg, rgba(208,159,238,1) 0%, rgba(170,86,215,1) 50%, rgba(108,87,205,1) 100%);

}
h2 {
    font-size: 3em;
    color: blue;
    width: 100%;
    color:rgb(45, 12, 66);
    padding: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    border: 4px solid #efd6ff;
    min-height: 40vh;
    min-width: 40vh;
    align-items: center;
    padding: 1rem 0.5rem 0 .5rem;
    margin-top: 5vh;
    border-radius: 5px; 
    -moz-box-shadow: 5px 5px 5px   rgba(94, 21, 143, 0.918);
	-webkit-box-shadow: 5px 5px 5px rgba(94, 21, 143, 0.918);
	box-shadow: 5px 5px 5px  rgba(94, 21, 143, 0.918);
}
label {
    font-size: 1.5rem;
    color: rgb(75, 1, 117);
}
input {
    margin: 1rem 0;
    text-align: center;
    padding: 0.75rem;
}
#upfile {
    width: 80%;
    margin: 1rem 0;
}
input:hover {
    cursor: pointer;
    outline: none;
}
#submit {
    -moz-box-shadow: 5px 5px 5px   rgba(145, 74, 192, 0.918);
	-webkit-box-shadow: 5px 5px 5px  rgba(145, 74, 192, 0.918);
    box-shadow: 5px 5px 5px   rgba(145, 74, 192, 0.918);
    border-radius: 5px;
    border: none;
    color: rgb(75, 1, 117);;

}
#submit:hover {
    border: none;
    transform: scale(1.01)
    
}
